.item { 
    display: none;
}


.item.active {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
}

.item .title {
    font-size: 12rem;
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

}

.item .fruit {
    width: 90%;
    position: absolute;
    top: 0;
    z-index: 3;

}


.item .refri {
    z-index: 2;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#preview, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #eee9;
    border: 1px solid #eee9;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;

}


#preview {
    left: 30px;
}

#preview:hover, #next:hover {
    background-color: #fff3;
    color: white;
    font-weight: 800;
    border-color: #fff3;
}

#next {
    right: 30px;
}

@keyframes toActive {
    from {
        top: 100%;
        opacity: 0;
    }
}

.item.active img.fruit {

    animation: toActive 0.5s ease-in-out 1;
}


.item.active .title {

    animation: toActive 0.5s ease-in-out 1;
}